.ntcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.okcards {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  gap: 10px;
}

.epcard {
  height: 150px;
  width: 150px;
  border-radius: 2px;
  cursor: pointer;
}
.epcard.ggflipped .orinner {
  transform: rotateY(180deg);
}

.orinner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.6s cubic-bezier(0.38, 0.02, 0.98, 1) all;
}
.epcard .pbfront,
.epcard .ekback {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.epcard .pbfront {
  border: 2px solid #d9d91d;
  background: #fff;
  transform: rotateY(180deg);
}

.epcard .ekback {
  background: #e3b039;
  font-size: 180px;
  transition: 0.3s ease all;
}

.epcard .ekback:hover,
.button-restart:hover {
  background: #dba8b1;
  transform: scale(1.02);
}

.rtbutton-restart {
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  background: #eabd55;
  transform: 0.3s ease all;
}

.gamezover {
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  background: #eabd55;
}
.hidengamezover {
  visibility: hidden;
}
