/* Стиль для общего контейнера */
.auth-container {
  display: flex;
  justify-content: center; /* Центрирует содержимое по горизонтали */
  align-items: center; /* Центрирует содержимое по вертикали */
  min-height: 100vh; /* Минимальная высота 100% высоты экрана */
  background-color: #e6f7ff; /* Лёгкий фоновый цвет */
}

/* Стиль для окна формы */
.auth-box {
  background-color: white; /* Белый фон */
  border-radius: 10px; /* Скругленные углы */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Тень для глубины */
  padding: 20px; /* Внутренние отступы */
  width: 300px; /* Ширина окна */
}

/* Заголовок формы */
.auth-box h2 {
  text-align: center; /* Центровать заголовок */
  color: #ff5722; /* Цвет заголовка */
}

/* Общий стиль для меток и полей ввода */
.auth-box label {
  margin-top: 10px;
  display: block; /* Метки на новой строке */
}

/* Стиль для полей ввода и селектов */
.auth-box input {
  width: 90%; /* Поля ввода занимают 100% ширины родительского блока */
  padding: 10px; /* Внутренние отступы */
  margin-top: 5px; /* Отступ сверху */
  margin-bottom: 15px; /* Отступ снизу для большей визуальной разделенности */
  border: 1px solid #ccc; /* Цвет рамки */
  border-radius: 5px; /* Скругленные углы */
  font-size: 1em; /* Размер шрифта */
}

/* Стиль для кнопки */
.auth-box button {
  background-color: #ff5722; /* Цвет кнопки */
  color: white; /* Цвет текста на кнопке */
  border: none; /* Убирает рамку */
  border-radius: 5px; /* Скругленные углы */
  padding: 10px; /* Внутренние отступы */
  margin-top: 15px; /* Отступ сверху */
  cursor: pointer; /* Курсор при наведении */
  width: 100%; /* Кнопка занимает 100% ширины */
  font-size: 1em; /* Размер шрифта */
  transition: background-color 0.3s ease; /* Плавный переход для фона */
}

/* Эффект при наведении на кнопку */
.auth-box button:hover {
  background-color: #e64a19; /* Темный оттенок при наведении */
}

/* Стиль для сообщения об ошибке */
.auth-box p {
  text-align: center; /* Централизовать сообщения */
  margin: 10px 0; /* Вертикальные отступы */
  color: red; /* Цвет для ошибок */
}
